@model FrontEnd.Models.Docentes

<h4>Docentes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit_Docente" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Membros.Nome" class="control-label"></label>
                <input asp-for="Membros.Nome" class="form-control" />
                <span asp-validation-for="Membros.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membros.Email" class="control-label"></label>
                <input asp-for="Membros.Email" class="form-control" />
                <span asp-validation-for="Membros.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membros.Contacto" class="control-label"></label>
                <input asp-for="Membros.Contacto" class="form-control" />
                <span asp-validation-for="Membros.Contacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filiacao" class="control-label"></label>
                <input asp-for="Filiacao" class="form-control" />
                <span asp-validation-for="Filiacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
